In [7]:
import cymetric as cym
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cy_analysis as ana
%matplotlib inline

In [8]:
#load db in a evaler
with cym.dbopen('cyclus_case4.sqlite') as db:
    evaler = cym.Evaluator(db)

In [10]:
trans = evaler.eval('Transactions')
agents = evaler.eval('AgentEntry')

In [11]:
  agents_Sender = agents.rename(index=str, columns={'AgentId': 'SenderId'})
  agents_Receiver = agents.rename(index=str, columns={'AgentId': 'ReceiverId'})

In [12]:
 df = pd.merge(agents_Sender[['SimId', 'SenderId', 'Prototype']], trans, on=['SimId', 'SenderId'])

In [13]:
df = df.rename(index=str, columns={'Prototype': 'SenderProto'})

In [14]:
 df = df.drop('SenderId',1)

In [15]:
  df = pd.merge(agents_Receiver[['SimId', 'ReceiverId', 'Prototype']], df, on=['SimId', 'ReceiverId'])
  df = df.rename(index=str, columns={'Prototype': 'ReceiverProto'})
  df = df.drop('ReceiverId',1)

In [16]:
  resource = evaler.eval('Resources')
  df = pd.merge(resource[['SimId', 'ResourceId','QualId','Quantity','Units'  ]], df, on=['SimId', 'ResourceId'])
  df = df.drop('ResourceId',1)

In [17]:
  trans = df[['ReceiverProto', 'SenderProto','Time', 'Quantity']].groupby(['ReceiverProto', 'SenderProto','Time']).sum()

In [27]:
test = trans.loc['PWR_fabrication']

In [66]:
fac_b = 'PWR_fabrication'
fac_a = 'Storage_E3_second'
index = trans.index.levels[0]

a_in = False
b_in = False

for word in index:
  if(fac_b == word):
    a_in = True
    
index2 = trans.index.levels[1]

for word in index2:
  if(fac_a == word):
    b_in = True

In [67]:
  if (a_in & b_in):
    toplot = trans.loc[fac_b].loc[fac_a]
  else:
    print(index)
    print(index2)

In [68]:
toplot

           Quantity
Time
302     5000.000000
303     4857.529500
304     4857.529500
305     4857.529500
306     4857.529500
314     5000.000000
315     9715.059000
316     9715.059000
324     4857.529500
326     5000.000000
327    14572.588500
328     4857.529500
334     4857.529500
338     5000.000000
339    19430.118000
342     4857.529500
346     4857.529500
350     5000.000000
351    19430.118000
352     4857.529500
357     4857.529500
360     4857.529500
362     5000.000000
363    19430.118000
364     4857.529500
369     4857.529500
370     4857.529500
374     5000.000000
375    24287.647500
378     4857.529500
...             ...
2328  251610.678524
2329   72982.912496
2333   23761.712278
2334  243457.716007
2335   70550.148746
2340  252442.969783
2341   72982.912496
2345   26119.720159
2346  248899.664204
2347   71766.530621
2352  254939.843560
2353   72982.912496
2357   27685.618755
2358  249691.773489
2359   71766.530621
2364  259656.512484
2365   74924.573645
2369   26119.720159
2370  250564.246723
2371   71766.530621
2376  260829.992401
2377   75415.676246
2381   26119.720159
2382  255622.104304
2383   74199.294371
2388  261662.283660
2389   75415.676246
2393   27685.618755
2394  258078.796107
2395   74199.294371

[897 rows x 1 columns]