In [5]:
import cymetric as cym
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cy_fast_analysis as ana
%matplotlib inline

In [6]:
#load db in a evaler
db = cym.dbopen('cyclus_case4.sqlite')

In [7]:
plot = ana.get_transaction_TS(db, 'FBR_blanket', 'FBR_blanket_cooling')

evaluator done: 0.016139145998749882
trans + agent done: 13.854704495002807
receiver select done: 0.03009968799597118
sender select done: 0.028589364999788813
trans select done: 0.061520814000687096
sender merged done: -2.4813001800794154e-05
receiver merged done: 0.2691781599933165
resource selected done: -0.00018801500118570402
resource merged done: 0.34627778599679004

In [4]:
plot

       Quantity
Time
153     16561.0
154     16561.0
155     16561.0
164     16561.0
165     16561.0
171     16561.0
172     16561.0
173     16561.0
176     16561.0
177     33122.0
182     16561.0
183     16561.0
188     33122.0
189     33122.0
190     16561.0
191     16561.0
194     16561.0
195     33122.0
200     66244.0
201     16561.0
206     33122.0
207     33122.0
208     16561.0
209     16561.0
212     66244.0
213     33122.0
218     66244.0
219     16561.0
224     82805.0
225     33122.0
...         ...
2281   695562.0
2282  6276619.0
2288  6690644.0
2293   695562.0
2294  6425668.0
2300  6707205.0
2305   745245.0
2306  6458790.0
2312  6856254.0
2317   745245.0
2318  6458790.0
2324  6905937.0
2329   695562.0
2330  6607839.0
2336  6905937.0
2341   794928.0
2342  6674083.0
2348  7038425.0
2353   695562.0
2354  6640961.0
2360  7121230.0
2365   745245.0
2366  6806571.0
2372  7071547.0
2377   695562.0
2378  6872815.0
2384  7286840.0
2389   695562.0
2390  6839693.0
2396  7319962.0

[748 rows x 1 columns]