In [1]:
import cymetric as cym
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cy_fast_timed_analysis as ana_t
import cy_fast_analysis as ana
%matplotlib inline

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [2]:
#load db in a evaler
db = cym.dbopen('cyclus.sqlite')

In [5]:
plot = ana.get_inventory(db, 'J1_second_storage', 'pu239')

In [6]:
plot

                           Quantity
Prototype         Time
J1_second_storage 1      676.450000
                  2      676.450000
                  3      684.365244
                  4      692.280470
                  5      700.195714
                  6      708.110940
                  7     1384.559258
                  8     2061.005970
                  9     2737.451077
                  10    2737.444577
                  11    2737.438080
                  12    2737.431585
                  13    2737.425091
                  14    2737.418598
                  15    2737.412106
                  16    2737.405614
                  17    2737.399122
                  18    2737.392630
                  19    2737.386139
                  20    2737.379647
                  21    2737.373156
                  22    2737.366665
                  23    2737.360174
                  24    2068.847566
                  25    2068.842660
                  26    2068.837755
                  27    2068.832849
                  28    2068.827942
                  29    2068.823034
                  30    2068.818127
...                             ...
                  956    670.600801
                  974    670.600801
                  992    670.600801
                  1010   670.600801
                  1028   670.600801
                  1046   670.600801
                  1064   670.600801
                  1082   670.600801
                  1100   670.600801
                  1118   670.600801
                  1136   670.600801
                  1154   670.600801
                  1172   670.600801
                  1190   670.600801
                  1208   670.600801
                  1226   670.600801
                  1244   670.600801
                  1262   670.600801
                  1280   670.600801
                  1298   670.600801
                  1316   670.600801
                  1334   670.600801
                  1352   670.600801
                  1370   670.600801
                  1388   670.600801
                  1406   670.600801
                  1424   670.600801
                  1442   670.600801
                  1460   670.600801
                  1478   670.600801

[271 rows x 1 columns]